
[submodule "external/bgfxLib"]
	path = external/bgfxLib
	url = https://github.com/JoshuaBrookover/bgfx.cmake
    
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
